@font-face { /* Définition d'une nouvelle  */
    font-family: 'releway-Regular';
    src: url('../font/releway-regular.otf');
}
html {
  scroll-behavior: smooth;
}
#section1 {


}
body{
  font-family: 'releway-regular', sans-serif;
  color: black;
}
header{

  background-image: url("img/hero-01.jpg");
  background-repeat:no-repeat;
}
.header{
  display:flex;
  flex-direction:column;
  align-items: center;
}
#btn-know-more {
margin-left: 19%;
  background: transparent;}
  #logo-arrow{
    width: 60px;
    height: 60px;
    margin-bottom: 2em;
    margin-left: 50%;
  }
  .scroll-down{
padding-left: 2em;
    background: transparent;
    width: 60px;
    height: 60px;
  }
  .hr{
    width: 10%;
    height: 7px;
    background-color: rgb(41, 128, 185);
    align-content: center;
    margin-top: 0.6em;
    margin-bottom: 1.5em;
}
#title-our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}
#title-our-team h3{
    color: rgb(41, 128, 185);
}
.items-01{
    height: 200px;
    width: 200px;
    border-radius: 3px;
}
.items-01 img {
  border-radius: 3px;
}
.overlay-items-02{
  opacity: 0;
  height: 250px;
  background-color: #018cff7a;
  width: 250px;
  transition: all 1s;
  border-radius: 3px;
}
.icon-twitter-linkedin-camera{
  margin: 109px 10px;
  color: 2980b9;
  background-color: white;
  padding: 12px;
  font-size: 1.5em;
  width: 2em;
  border-radius: 61px;
  transition: all 1s;
}
.icon-twitter-linkedin-camera:hover{
  background-color: #c7ffeffc;
}
.items-01:hover .overlay-items-02 {
    opacity: 1;
 }
 .nom-prenom-our-team{
  width: 250px;
  margin-top: 260px;
 }
 .nom-prenom-our-team h4{
  color: #2980b9;
 }
